<!DOCTYPE html>
<html>
<head>
    <title>Weather Powered Email</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">

    {% load static %}
    <link href="{% static 'signup/style.css' %}" rel="stylesheet">
</head>
<body>

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}

<div class="container">
    <h2>Weather Powered Email</h2>

    <form action="/signup/" method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
